@page
@model UNN_Ki_001.Areas.Identity.Pages.Account.Manage.ClaimTestModel
@{
	ViewData["Title"] = "Claim Test";
}
<h3>@ViewData["Title"]</h3>

<form method="POST">
	下記のボタンをクリックしてRoleテスト用のデータを作成します
	ロール名<input asp-for="Input.RoleName" id="form3Example3" class="form-control form-control-lg" placeholder="" />
	Claim名<input asp-for="Input.ClaimName" id="form3Example3" class="form-control form-control-lg" placeholder="" />
<button type="submit">Login</button>
</form>