@page
@model UNN_Ki_001.Pages.Attendance.Record.IndexModel
@{
    ViewData["Title"] = "打刻登録";
}
 <h1>@ViewData["Title"]</h1>

@{
    foreach(var item in Model.tgtList)
    {
        @item;
    }
}



      
   



