@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "アクセスが拒否されました";
}

<header class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">あなたはこのページにアクセスできません。.</p>
</header>
