@page
@model UNN_Ki_001.Areas.Identity.Pages.Account.Manage.UserMasterModel
@{
	 ViewData["Title"] = "ユーザーマスタ";
}
<h1>@ViewData["Title"]</h1>

<br /><br />
@foreach(var obj in Model.GetClaims())
{
	<p>type=@obj.ToString</p>
	<p>value=@obj.Value</p><br />
}

<br /><br />
<table>
	<thead>
		<tr>
			<th>
				ユーザー名
			</th>
			<th>
				ユーザーID
			</th>
			<th>
				セキュリティスタンプ
			</th>
		</tr>
	</thead>

	<tbody>
		@foreach(var user in Model.GetUsers())
		{
			<tr>
				<td>
					@user.UserName
				</td>
				<td>
					@user.Id
				</td>
				<td>
					@user.SecurityStamp
				</td>
			</tr>
		}
	</tbody>
</table>