@page
@model IndexModel
@{
    ViewData["Title"] = "打刻登録";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    @if (!SignInManager.IsSignedIn(User))
{
    <script>
        location.assign("/Identity/Account/Login")
    </script>    
}

<div class="text-center">
    <h1 class="text-danger">打刻登録</h1>
</div>
