@page
@model UNN_Ki_001.Pages.VariousMaster.AffiliationModel
@{
}
<h1>所属マスタメンテナンス</h1>
      <div>
         <div class="container mt-5" style="max-width: 500px">
            <form class="card mb-4" method="Post">
               <div class="card-body">
                  <div class="row mb-3 align-items-center">                    
                        <label class="col-5" for="shozoku_cd">所属コード</label>
                        <input
                           type="text"
                           class="form-control"
                           name="shozoku_cd"
                           size="30"
                           maxlength="10"
                           id="shozoku_cd"
                        />                    
                  </div>
                  <div class="row mb-3 align-items-center">                     
                        <label class="col-5">所属名</label>
                        <input
                           type="text"
                           class="form-control"
                           name="shozoku_nm"
                           id="shozoku_nm"
                        />
                  </div>
                  <div class="row mb-3 align-items-center">
                     <div class="col-10">
                        有効/無効   
                        <label for="valid_flg">有効</label>
                        <input
                           type="checkbox"
                           name="valid_flg"
                           value="1"
                           id="valid_flg"
                        />
                        <label for="valid_flg">無効</label>
                        <input
                           type="checkbox"
                           name="valid_flg"
                           value="0"
                           id="valid_flg"
                        />
                     </div>
                  </div>
                  <div class="d-flex justify-content-end mt-2">
                     <input
                        type="submit"
                        class="search btn btn-secondary mx-3"
                        value="検索"
                     />
                  </div>
                  <div class="d-flex justify-content-end mt-2">
                     <input
                        type="button"
                        class="search btn btn-secondary mx-3"
                        value="追加"
                        data-bs-toggle="modal"
                        data-bs-target="#tsuikaModal"
                     />
                     <input
                        type="button"
                        class="search btn btn-secondary mx-3"
                        value="複写"
                     />
                  </div>
               </div>
            </form>
             <div class="p-2">
         <table class="table table-bordered">
            <thead class="table-primary">
               <tr class="text-center">
                  <th class="col-2">所属コード</th>
                  <th class="col-3">所属名</th>
                  <th class="col-2">有効</th>
               </tr>
            </thead>
             @if (Model.Data != null) {
                @foreach (var shozoku in Model.Data) {
                    <tbody class="shainData"></tbody>
                    <tr>
                        <td> @shozoku.shozoku_cd</td>
                        <td> @shozoku.shozoku_nm</td>                      
                         <td>@if (@shozoku.valid_flg != "0")
                                {
                                    <input
                                     type="checkbox"
                                     checked
                                     />
                                }
                          </td>                       
                     </tr>
                } 
            }
         </table>
      </div>
         </div>
      </div>

      
      <div
            class="modal fade"
            id="tsuikaModal"
            tabindex="-1"
            aria-labelledby="userModalLabel"
            aria-hidden="true"
         >
            <div class="modal-dialog modal-lg">
               <div class=" tsuikaModalContent modal-content" style="width : 60%">
                  <div class="modal-header">
                  <div class="d-flex justify-content-between w-100">
                  </div>

                  </div>
                 <form class="card mb-4" method="Post">
               <div class="card-body">
                  <div class="row mb-3 align-items-center">                    
                        <label class="col-5" for="shozoku_cd">所属コード</label>
                        <input
                           type="text"
                           class="form-control"
                           name="shozoku_cd"
                           size="30"
                           maxlength="10"
                           id="shozoku_cd"
                        />                    
                  </div>
                  <div class="row mb-3 align-items-center">                     
                        <label class="col-5">所属名</label>
                        <input
                           type="text"
                           class="form-control"
                           name="shozoku_nm"
                           id="shozoku_nm"
                        />
                  </div>
                  <div class="row mb-3 align-items-center">
                     <div class="col-10">
                        有効/無効   
                        <label for="valid_flg">有効</label>
                        <input
                           type="checkbox"
                           name="valid_flg"
                           value="1"
                           id="valid_flg"
                        />
                        <label for="valid_flg">無効</label>
                        <input
                           type="checkbox"
                           name="valid_flg"
                           value="0"
                           id="valid_flg"
                        />
                     </div>
                  </div>
                 
                  <div class="d-flex justify-content-end mt-2">
                      <input
                        type="button"
                        class="cancel btn btn-secondary mx-3"
                        value="キャンセル"
                        class="btn modal-close btn-warning"
                        data-bs-dismiss="modal"
                     />
                     <input
                        type="button"
                        class="register btn btn-secondary mx-3"
                        value="登録"
                     />
                     <input
                        type="button"
                        class="delete btn btn-secondary mx-3"
                        value="削除"
                     />
                  </div>
               </div>
            </form>
               </div>
            </div>
         </div>
