@page
@model Attendance.IndexModel
@{
    ViewData["Title"] = "打刻登録";

    //var Month = DateTime.Now.ToString("yyyy年MM月");
}
<div class="main d-flex justify-content-center align-items-center">
    <div
        class="container-fluid d-flex align-items-center my-5 justify-content-center"
    >
        @if (Model.ListKinmu != null)
        {
            @foreach (var item in Model.ListKinmu)
            {
                @item.DakokuFrDt
            }
        }
    <div class="text-danger"> @Model.Message </div>
        <div
            class="left mt-5 d-flex flex-column align-items-center justify-content-between mx-5"
        >
            <asp:Label id="Date" runat="server"></asp:Label>
            <div class="date"></div>
            <div class="time my-3"></div>
            <div class="button my-5">
                <form method="post">
                    <input type="hidden" value="start" name="action" />
                    <button type="submit" class="border-0 in me-3">出勤</button>
                </form>
                <form method="post">
                    <input type="hidden" value="end" name="action" />
                    <button type="submit" class="border-0 out">退勤</button>
                </form>
            </div>
        </div>
        <div class="right mx-5" style="min-width: 25rem; max-width: 25rem;">
            <div
                id="calendar"
                class="animated animated-sm bounceInUp"
            >
                <div class="panel panel-default">
                    <h4 class="text-center text-danger mb-3 title">-- 打刻状況 --</h4>
                    <div class="panel-body">
                        <div class="calendar fc fc-ltr">
                            <div
                                class="fc-header d-flex justify-content-around align-items-center"
                            >
                                <div class="fc-header-left">
                                    <button
                                        type="button"
                                        class="border-0 prev-month"
                                    >
                                        <i
                                            class="fa fa-chevron-left"
                                        ></i>
                                    </button>
                                </div>
                                <div class="fc-header-center">
                                    <div class="fc-header-title">
                                        <h2><span class="year"></span>年<span class="month"></span>月</h2>
                                    </div>
                                </div>
                                <div class="fc-header-right">
                                    <button
                                        type="button"
                                        class="border-0 next-month"
                                    >
                                        <i
                                            class="fa fa-chevron-right"
                                        ></i>
                                    </button>
                                </div>
                            </div>
                            <div class="fc-content text-center mt-3">
                                <div
                                    class="fc-view fc-view-month fc-grid"
                                >
                                    <table
                                        class="fc-border-separate"
                                        style="width: 100%"
                                        cellspacing="0"
                                    >
                                        <thead>
                                            <tr
                                                class="fc-first fc-last"
                                            >
                                                <th
                                                    class="fc-day-header fc-sun fc-widget-header fc-first text-danger"
                                                >
                                                    日
                                                </th>
                                                <th
                                                    class="fc-day-header fc-mon fc-widget-header"
                                                >
                                                    月
                                                </th>
                                                <th
                                                    class="fc-day-header fc-tue fc-widget-header"
                                                >
                                                    火
                                                </th>
                                                <th
                                                    class="fc-day-header fc-wed fc-widget-header"
                                                >
                                                    水
                                                </th>
                                                <th
                                                    class="fc-day-header fc-thu fc-widget-header"
                                                >
                                                    木
                                                </th>
                                                <th
                                                    class="fc-day-header fc-fri fc-widget-header"
                                                >
                                                    金
                                                </th>
                                                <th
                                                    class="fc-day-header fc-sat fc-widget-header fc-last"
                                                >
                                                    土
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="calendar-data">
                                            <tr class="week1"></tr>
                                            <tr class="week2"></tr>
                                            <tr class="week3"></tr>
                                            <tr class="week4"></tr>
                                            <tr class="week5"></tr>
                                            <tr class="week6"></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>